<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
    </configSections>

    <log4net debug="false">
        <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
            <threshold value="DEBUG"/>
            <encoding value="utf-8"/>
            <file type="log4net.Util.PatternString" value="c:\EDF\Log.txt"/>
            <appendToFile value="true"/>
            <rollingStyle value="Date"/>
            <datePattern value=" - yyyy-MM-dd'.log'"/>
            <maximumFileSize value="10MB"/>
            <layout type="log4net.Layout.PatternLayout">
                <IgnoresException value="False"/>            
                <conversionPattern value="%utcdate{yyyy-MM-dd HH:mm:ss} [%appdomain].[%thread].%-5level %-15.15logger %message %exception %newline"/>
            </layout>           
        </appender>

        <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">       
            <layout type="log4net.Layout.Patternlayout">
                <conversionPattern value="%date %-5level %logger - %message%newline "/>                
            </layout>          
            <logName value="ConsoleApp1"/>
            <applicationName value="ConsoleApp1"/>          
        </appender>

        <logger name="LogInFile">
            <level value="ALL"/>
            <appender-ref ref="LogFileAppender"/>
        </logger>

        <logger name="LogInEventViewer">
            <level value="ALL"/>
            <appender-ref ref="EventLogAppender"/>        
        </logger>
    </log4net>
    
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
    </startup>
</configuration>
